#All name in this file are loved and it's NOT a representative list
#numberOfCard;value;name;color
5;-2;Montavon;blue
10;-1;Pritzy;blue
15;0;Phillips;aqua
10;1;Dubaj;green
10;2;Diaz-Blanco;green
10;3;Flesch;green
10;4;Petit;green
10;5;Getcher;yellow
10;6;Coste;yellow
10;7;Maaloul;yellow
10;8;Triponey;yellow
10;9;Chahi;red
10;10;Mauffrey;red
10;11;Godey;red
10;12;Zullo;red